name: Testing
on: [push, pull_request]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        luaVersion: ["5.1", "5.2", "5.3", "5.4"]

    runs-on: ubuntu-latest

    steps:
      - name: Install nuspell
        run: |
          wget https://github.com/nuspell/nuspell/archive/refs/tags/v5.1.0.tar.gz -O - | tar -xz
          cmake -S nuspell-* -B nuspell-build -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTING=0
          cmake --build nuspell-build -j 4
          sudo cmake --install nuspell-build
          sudo ldconfig
          rm -rf nuspell-*

      - uses: actions/checkout@v2

      - uses: leafo/gh-actions-lua@v8
        with:
          luaVersion: ${{ matrix.luaVersion }}

      - uses: leafo/gh-actions-luarocks@v4

      - name: runtest.sh
        run: ./runtest.sh
